<% include header %>

<form method="POST">
            <label for="mes">Message</label>
            <input type="text" name="mes" id="mes">
           <input type="submit" value="Send" > 
    
    </form>

<% include footer %>
